<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninty.system.setting">

    <!-- change brightness & airplane -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- get wifi state-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- get bluetooth state -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>

</manifest>
